@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

br {
  margin-bottom: -0.5em;
  line-height: 1;
}

html {
  height: 100%;
}

.tela {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  background: url("TELA.jpg") no-repeat center center/cover;
  background-size: cover;
}

.cabecalho2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #3c3c3c;
  border: 1px solid #3c3c3c;
  text-align: center;
}

.cabecalho2 h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 5vw;
  /* Responsivo */
  line-height: 1;
  color: #ffffff;
  margin-bottom: 1vw;
}

.cabecalho2 .subtitles {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.cabecalho2 .subtitles h4 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 2vw;
  /* Responsivo */
  line-height: 1.2;
  color: #ffffff;
  margin: 0.5rem 0;
  /* Espaçamento entre subtítulos */
}

.botao-cardapio {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #3c3c3c ;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  margin: 1rem 0;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  position: relative;
}

.botao-cardapio:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

.botao-cardapio:hover::after {
  content: ''; 
  position: absolute; 
  left: 0;
  right: 0;
  bottom: -3px; 
  height: 5px; 
  background-color: #ffffff; 
  border-radius: 4px; /* Para suavizar a linha */
}

a {
  color: inherit; 
  text-decoration: none; 
}

/* Rectangle 1 */
.carousel {
  position: relative;
  width: 80%;
}

.carousel-item {
  display: none;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.carousel-item-imagem {
  width: 100%;
  max-height: 80vh; 
  object-fit: contain; 
  border-radius: 10px;
}

.carousel-item.active {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Rodapé */
.rodape {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c3c3c;
  padding: 20px;
  flex-wrap: wrap;
  flex-direction: row;
}

.contact-info {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  margin: 10px 0;
  font-size: 1.5em;
  justify-content: space-evenly;
  width: 80%;
}

.telefone {
  display: flex;
  flex-direction: row;
  width: 26%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.telefone p {
  margin-left: 10px;
}

.imagem-rodape {
  width: 3vw;
  height: auto;
}

.social-media img {
  width: 3vw;
  height: auto;
  margin-right: 30px;
  cursor: pointer;
}

.social-media img:hover {
  background: #888888;
}

.social-media span {
  font-size: 1.5em;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
}

.logo h1 {
  font-family: 'Playfair Display', serif;
  margin: 0;
  right: 5%;
  font-weight: 400;
  font-size: 7vh;
  color: #ffffff;
  position: relative;
}

@media (max-width: 950px) {

  .cabecalho2 h1 {
    font-size: 7vw;
  }

  .botao-cardapio {
    font-size: 3vw;
  }

  .cabecalho2 h1 {
    margin-top: 20px;
  }

  .rodape {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-info {
    flex-direction: column;
    align-items: flex-start ;
  }

  .telefone {
    width: 100%;
    justify-content: flex-start;
    margin: 10px;
  }

  .imagem-rodape {
    width: 5vw;
  }

  .contact-info p {
    font-size: 0.8em;
    margin: 10px 0;
  }


  .social-media img {
    width: 5vw;
    margin: 0px 10px;
  }
}

@media (max-width: 570px) {

  .cabecalho2 h1 {
    font-size: 7vw;
  }

  .botao-cardapio {
    font-size: 3vw;
  }

  .rodape {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-info {
    flex-direction: column;
    align-items: flex-start ;
  }

  .telefone {
    width: 100%;
    justify-content: flex-start;
    margin: 10px;
  }

  .imagem-rodape {
    width: 5vw;
  }

  .contact-info p {
    font-size: 0.8em;
    margin: 10px 0;
  }


  .social-media img {
    width: 5vw;
    margin: 0px 10px;
  }

}

